body {
  background: black !important;
  color: white !important;
}

p {
  color: white !important;
}

h1, h1 a, h2, h3 {
  color: white !important;
}

a {
  color: white !important;
}

.section p {
   color: white !important;
}

.signature {
  background: #FFA500 !important;
}

.signature p {
  color: black !important;
}

.description {
  color: white !important;
}

#e {
   -webkit-filter: invert(1) !important;
   filter: invert(1) !important;
}